/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 200;
    src: local('Bariol Thin'), url('fonts/bariol_thin-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: 200;
    src: local('Bariol Thin Italic'), url('fonts/bariol_thin_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 300;
    src: local('Bariol Light'), url('fonts/bariol_light-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: 300;
    src: local('Bariol Light Italic'), url('fonts/bariol_light_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 400;
    src: local('Bariol Regular'), url('fonts/bariol_regular-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: 400;
    src: local('Bariol Regular Italic'), url('fonts/bariol_regular_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 700;
    src: local('Bariol Bold'), url('fonts/bariol_bold-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: 700;
    src: local('Bariol Bold Italic'), url('fonts/bariol_bold_italic-webfont.woff') format('woff');
    font-display: swap;
}

@layer styleguide {

    * {
        text-decoration: none;
        line-height: 1.4;
    }

    html {
    /* ===== BASE COLOR VARIABLES ===== */
    --nav-h: 200;
    --nav-s: 43%;

    --primary-bg-h: 0;
    --primary-bg-s: 0%;

    --secondary-bg-h: 200;
    --secondary-bg-s: 13%;

    --accent-h: 136;
    --accent-s: 100%;

    --alert-h: 357;
    --alert-s: 100%;


    /* ===== NAV COLORS ===== */
    --nav-darkest: hsl(var(--nav-h), var(--nav-s), 9%);
    --nav-dark: hsl(var(--nav-h), var(--nav-s), 16%);
    --nav-neutral: hsl(var(--nav-h), var(--nav-s), 23%);
    --nav-light: hsl(var(--nav-h), var(--nav-s), 39%);
    --nav-lightest: hsl(var(--nav-h), var(--nav-s), 45%);

    /* ===== PRIMARY BACKGROUND COLORS ===== */
    --primary-bg-darkest: hsl(var(--primary-bg-h), var(--primary-bg-s), 50%);
    --primary-bg-dark: hsl(var(--primary-bg-h), var(--primary-bg-s), 60%);
    --primary-bg-neutral: hsl(var(--primary-bg-h), var(--primary-bg-s), 70%);
    --primary-bg-light: hsl(var(--primary-bg-h), var(--primary-bg-s), 80%);
    --primary-bg-lightest: hsl(var(--primary-bg-h), var(--primary-bg-s), 90%);

    /* ===== SECONDARY BACKGROUND COLORS ===== */
    --secondary-bg-darkest: hsl(var(--secondary-bg-h), var(--secondary-bg-s), 50%);
    --secondary-bg-dark: hsl(var(--secondary-bg-h), var(--secondary-bg-s), 60%);
    --secondary-bg-neutral: hsl(var(--secondary-bg-h), var(--secondary-bg-s), 70%);
    --secondary-bg-light: hsl(var(--secondary-bg-h), var(--secondary-bg-s), 80%);
    --secondary-bg-lightest: hsl(var(--secondary-bg-h), var(--secondary-bg-s), 90%);

    /* ===== ACCENT COLORS ===== */
    --accent-darkest: hsl(var(--accent-h), var(--accent-s), 9%);
    --accent-dark: hsl(var(--accent-h), var(--accent-s), 16%);
    --accent-neutral: hsl(var(--accent-h), var(--accent-s), 23%);
    --accent-light: hsl(var(--accent-h), var(--accent-s), 39%);
    --accent-lightest: hsl(var(--accent-h), var(--accent-s), 45%);

    /* ===== ALERT COLORS ===== */
    --alert-darkest: hsl(var(--alert-h), var(--alert-s), 20%);
    --alert-dark: hsl(var(--alert-h), var(--alert-s), 16%);
    --alert-neutral: hsl(var(--alert-h), var(--alert-s), 23%);
    --alert-light: hsl(var(--alert-h), var(--alert-s), 65%);
    --alert-lightest: hsl(var(--alert-h), var(--alert-s), 75%);

    --white: white;
    font-family: 'Bariol', sans-serif;
}




    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Kleuren */
    #kleur {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        div:nth-of-type(1) {
            grid-row: 1;
            grid-column: 1 / -1;
        }

        div:nth-of-type(2) {
            grid-row: 2;

            p {
                margin: .5rem 0 .5rem 0;
            }

            figure {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin: 0;

                code {
                    width: 5rem;
                }
            }


            figure:nth-of-type(1) {
                code:nth-of-type(1) {
                    background-color: var(--accent-lightest);
                }

                code:nth-of-type(2) {
                    background-color: var(--accent-light);

                }

                code:nth-of-type(3) {
                    background-color: var(--accent-neutral);

                }

                code:nth-of-type(4) {
                    background-color: var(--accent-dark);
                    color: var(--white);

                }
                code:nth-of-type(5) {
                    background-color: var(--accent-darkest);
                    color: var(--white);

                }
            }

            figure:nth-of-type(2) {
                code:nth-of-type(1) {
                    background-color: var(--alert-lightest);
                }

                code:nth-of-type(2) {
                    background-color: var(--alert-light);
                }

                code:nth-of-type(3) {
                    background-color: var(--alert-neutral);
                }

                code:nth-of-type(4) {
                    background-color: var(--alert-dark);
                    color: var(--white);

                }
                code:nth-of-type(5) {
                    background-color: var(--alert-darkest);
                    color: var(--white);

                }
            }

            figure:nth-of-type(3) {
                color: var(--white);

                code:nth-of-type(1) {
                    background-color: var(--nav-lightest);
                }

                code:nth-of-type(2) {
                    background-color: var(--nav-light);
                }

                code:nth-of-type(3) {
                    background-color: var(--nav-neutral);
                }

                code:nth-of-type(4) {
                    background-color: var(--nav-dark);
                }
                code:nth-of-type(5) {
                    background-color: var(--nav-darkest);
                }
            }

            figure:nth-of-type(4) {
                code:nth-of-type(1) {
                    background-color: var(--primary-bg-lightest);
                }

                code:nth-of-type(2) {
                    background-color: var(--primary-bg-light);
                }

                code:nth-of-type(3) {
                    background-color: var(--primary-bg-neutral);
                }

                code:nth-of-type(4) {
                    background-color: var(--primary-bg-dark);
                }
                code:nth-of-type(5) {
                    background-color: var(--primary-bg-darkest);
                    color: var(--white);

                }
            }

            figure:nth-of-type(5) {
                code:nth-of-type(1) {
                    background-color: var(--white);
                    border: var(--blue-darker) solid 1px;
                }

                code:nth-of-type(2) {
                    background-color: var();
                    display: none;
                }

                code:nth-of-type(3) {
                    background-color: var();
                    display: none;

                }

                code:nth-of-type(4) {
                    background-color: var();
                    display: none;

                }
            }

        }

    }



    /* Typografie */
    h1 {
        font-size: 2.75rem;
        font-weight: 700;
    }

    h2 {
        font-size: 2.25rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.75rem;
        font-weight: 700;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 700;
    }

    h6 {
        font-size: 1.25rem;
        font-weight: 700;
    }
    p {
        font-size: 1rem;
        font-weight: 700;
    }


    /* Formulier elementen */
    .searchbar {
        input{
            border: var(--blue-darker) 2px solid;
            border-radius: 20px;
            width: 15rem;
        }
    }

    .btn {
        all: unset;
        background-color: var(--green-dark);
        color: var(--white);
        padding: 1rem 1rem;
        border-radius: 1.5rem;
        font-weight: bold;
    }

    .btn-round {
        all: unset;
        background-color: var(--green-dark);
        color: var(--white);
        padding: 3vw;
        border-radius: 100%;
        font-weight: bold;
    }

    .btn-round-capture {
        all: unset;
        background-color: var(--green-dark);
        color: var(--white);
        padding: 3rem 3rem;
        border-radius: 100%;
        font-weight: bold;

        svg {
            width: 3rem;
            height: auto;
        }
    }
}