/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 200;
    src: local('Bariol Thin'), url('fonts/bariol_thin-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: 200;
    src: local('Bariol Thin Italic'), url('fonts/bariol_thin_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 300;
    src: local('Bariol Light'), url('fonts/bariol_light-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: 300;
    src: local('Bariol Light Italic'), url('fonts/bariol_light_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 400;
    src: local('Bariol Regular'), url('fonts/bariol_regular-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: 400;
    src: local('Bariol Regular Italic'), url('fonts/bariol_regular_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: 700;
    src: local('Bariol Bold'), url('fonts/bariol_bold-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: 700;
    src: local('Bariol Bold Italic'), url('fonts/bariol_bold_italic-webfont.woff') format('woff');
    font-display: swap;
}

@layer styleguide {

    * {
        text-decoration: none;
        line-height: 1.4;
    }

    html {


        --grey-lighter: #E9ECEE;
        --grey-light: #E4E4E4;
        --grey-dark: #9DA1AA;
        --grey-darker: #666666;

        --blue-lighter: #4E6977;
        --blue-light: #224455;
        --blue-dark: #172F3B;
        --blue-darker: #0E1B22;

        --green-lighter: #00FF44;
        --green-light: #00E53D;
        --green-dark: #45DA38;
        --green-darker: #225530;

        --red-lighter: #FFA9AD;
        --red-light: #FF545C;
        --red-dark: #FF2A34;
        --red-darker: #661014;

        --white: #FFFFFF;
        font-family: 'Bariol';
    }


    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Kleuren */
    #kleur {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        div:nth-of-type(1) {
            grid-row: 1;
            grid-column: 1 / -1;
        }

        div:nth-of-type(2) {
            grid-row: 2;

            p {
                margin: .5rem 0 .5rem 0;
            }

            figure {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin: 0;

                code {
                    width: 5rem;
                }
            }


            figure:nth-of-type(1) {
                code:nth-of-type(1) {
                    background-color: var(--green-lighter);
                }

                code:nth-of-type(2) {
                    background-color: var(--green-light);

                }

                code:nth-of-type(3) {
                    background-color: var(--green-dark);

                }

                code:nth-of-type(4) {
                    background-color: var(--green-darker);
                    color: var(--white);

                }
            }

            figure:nth-of-type(2) {
                code:nth-of-type(1) {
                    background-color: var(--red-lighter);
                }

                code:nth-of-type(2) {
                    background-color: var(--red-light);
                }

                code:nth-of-type(3) {
                    background-color: var(--red-dark);
                }

                code:nth-of-type(4) {
                    background-color: var(--red-darker);
                    color: var(--white);

                }
            }

            figure:nth-of-type(3) {
                color: var(--white);

                code:nth-of-type(1) {
                    background-color: var(--blue-lighter);
                }

                code:nth-of-type(2) {
                    background-color: var(--blue-light);
                }

                code:nth-of-type(3) {
                    background-color: var(--blue-dark);
                }

                code:nth-of-type(4) {
                    background-color: var(--blue-darker);
                }
            }

            figure:nth-of-type(4) {
                code:nth-of-type(1) {
                    background-color: var(--grey-lighter);
                }

                code:nth-of-type(2) {
                    background-color: var(--grey-light);
                }

                code:nth-of-type(3) {
                    background-color: var(--grey-dark);
                }

                code:nth-of-type(4) {
                    background-color: var(--grey-darker);
                }
            }

            figure:nth-of-type(5) {
                code:nth-of-type(1) {
                    background-color: var(--white);
                    border: var(--blue-darker) solid 1px;
                }

                code:nth-of-type(2) {
                    background-color: var();
                    display: none;
                }

                code:nth-of-type(3) {
                    background-color: var();
                    display: none;

                }

                code:nth-of-type(4) {
                    background-color: var();
                    display: none;

                }
            }

        }

    }



    /* Typografie */
    h1 {
        font-size: 2.75rem;
        font-weight: bold;
    }

    h2 {
        font-size: 2.25rem;
        font-weight: bold;
    }

    h3 {
        font-size: 1.75rem;
        font-weight: bold;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: bold;
    }


    /* Formulier elementen */
    .searchbar {
        input{
            border: var(--blue-darker) 2px solid;
            border-radius: 20px;
            width: 15rem;
        }
    }
}