/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: var(--font-weight-lightest);
    src: local('Bariol Thin'), url('fonts/bariol_thin-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: var(--font-weight-light);
    src: local('Bariol Thin Italic'), url('fonts/bariol_thin_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: var(--font-weight-neutral);
    src: local('Bariol Light'), url('fonts/bariol_light-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: var(--font-weight-neutral);
    src: local('Bariol Light Italic'), url('fonts/bariol_light_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: var(--font-weight-neutral);
    src: local('Bariol Regular'), url('fonts/bariol_regular-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: var(--font-weight-neutral);
    src: local('Bariol Regular Italic'), url('fonts/bariol_regular_italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: normal;
    font-weight: var(--font-weight-dark);
    src: local('Bariol Bold'), url('fonts/bariol_bold-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    font-style: italic;
    font-weight: var(--font-weight-dark);
    src: local('Bariol Bold Italic'), url('fonts/bariol_bold_italic-webfont.woff') format('woff');
    font-display: swap;
}

@layer styleguide {

    html {
        /* ===== BASE COLOR VARIABLES ===== */
        --nav-h-s: 200, 43%;
        --primary-bg-h-s: 0, 0%;
        --secondary-bg-h-s: 200, 13%;
        --accent-h-s: 136, 100%;
        --alert-h-s: 357, 100%;

        /* ===== NAV COLORS ===== */
        --nav-darkest: hsl(var(--nav-h-s), 9%);
        --nav-dark: hsl(var(--nav-h-s), 16%);
        --nav-neutral: hsl(var(--nav-h-s), 23%);
        --nav-light: hsl(var(--nav-h-s), 39%);
        --nav-lightest: hsl(var(--nav-h-s), 45%);

        /* ===== PRIMARY BACKGROUND COLORS ===== */
        --primary-bg-darkest: hsl(var(--primary-bg-h-s), 50%);
        --primary-bg-dark: hsl(var(--primary-bg-h-s), 60%);
        --primary-bg-neutral: hsl(var(--primary-bg-h-s), 70%);
        --primary-bg-light: hsl(var(--primary-bg-h-s), 80%);
        --primary-bg-lightest: hsl(var(--primary-bg-h-s), 90%);

        /* ===== SECONDARY BACKGROUND COLORS ===== */
        --secondary-bg-darkest: hsl(var(--secondary-bg-h-s), 50%);
        --secondary-bg-dark: hsl(var(--secondary-bg-h-s), 60%);
        --secondary-bg-neutral: hsl(var(--secondary-bg-h-s), 70%);
        --secondary-bg-light: hsl(var(--secondary-bg-h-s), 80%);
        --secondary-bg-lightest: hsl(var(--secondary-bg-h-s), 90%);

        /* ===== ACCENT COLORS ===== */
        --accent-darkest: hsl(var(--accent-h-s), 9%);
        --accent-dark: hsl(var(--accent-h-s), 16%);
        --accent-neutral: hsl(var(--accent-h-s), 23%);
        --accent-light: hsl(var(--accent-h-s), 39%);
        --accent-lightest: hsl(var(--accent-h-s), 45%);

        /* ===== ALERT COLORS ===== */
        --alert-darkest: hsl(var(--alert-h-s), 20%);
        --alert-dark: hsl(var(--alert-h-s), 16%);
        --alert-neutral: hsl(var(--alert-h-s), 23%);
        --alert-light: hsl(var(--alert-h-s), 65%);
        --alert-lightest: hsl(var(--alert-h-s), 75%);

        /* ===== WHITE ===== */
        --white: hsl(0, 0%, 100%);

        /* ===== FONT-FAMILY ===== */
        --font-family: 'Bariol', sans-serif;
        font-family: var(--font-family);

        /* =====FONT-SIZE ===== */

        --font-size-largest: clamp(1.8rem, 3vw, 2.4rem);
        --font-size-large: clamp(1.6rem, 2.5vw, 2rem);
        --font-size-medium: clamp(1.3rem, 2vw, 1.75rem);
        --font-size-small: clamp(1.1rem, 1.6vw, 1.5rem);
        --font-size-smallest: clamp(0.95rem, 1.2vw, 1.25rem);
        --font-size-paragraph: clamp(0.9rem, 1vw, 1rem);
        --font-size-labels: clamp(0.65rem, 0.8vw, 0.8rem);

        /* ===== FONT-WEIGHT ===== */
        --font-weight-darkest: 900;
        --font-weight-dark: 700;
        --font-weight-neutral: 400;
        --font-weight-light: 200;
        --font-weight-lightest: 100;

        /* ===== FONT-COLOR ===== */
        --font-color-light: hsl(0, 0%, 100%);
        --font-color-dark: hsl(0, 0%, 0%);
        --font-color-accent: hsl(107, 100%, 64%);
        --font-color-noti: hsl(0, 100%, 31%);

        /* ===== BORDER-RADIUS ===== */
        --border-radius-tiny: .3rem;
        --border-radius-small: .5rem;
        --border-radius-neutral: 1rem;
        --border-radius-big: 1.5rem;
        --border-radius-round: 100%;

        /* ===== SVG-SIZES ===== */
        --svg-biggest: 3rem;
        --svg-big: 2rem;
        --svg-medium: 1.5rem;
        --svg-small: 1rem;
        --svg-smallest: 0.7rem;

    }

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Typografie */

    h1 {
        font-size: var(--font-size-largest);
        font-weight: var(--font-weight-dark);
    }

    h2 {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-dark);
    }

    h3 {
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-dark);
    }

    h4 {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-dark);
    }

    h5 {
        font-size: var(--font-size-smallest);
        font-weight: var(--font-weight-dark);
    }

    h6 {
        font-size: var(--font-size-smallest);
        font-weight: var(--font-weight-dark);
    }

    p {
        font-size: var(--font-size-paragraph);
        font-weight: var(--font-weight-neutral);
    }


    /* Formulier elementen */

    /* styling achtergrond search */

    label:has(:required)::after {
        /* content: "✻";
        color: red; */
    }

    .searchbar {
        input {
            border: none;
            width: 80vw;
            height: 2rem;
            max-height: 3rem;
            background-color: var(--white);
            border-radius: var(--border-radius-tiny);
            width: 15rem;
        }

        input:focus,
        input:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        accent-color: var(--accent-light);
        margin: 0.5rem;
    }

    .text {
        input {
            border: none;
            width: 80vw;
            height: 2rem;
            max-height: 3rem;
            background-color: var(--white);
            border-radius: .3rem;
            width: 15rem;
        }

        input:focus,
        input:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }

    .textarea {
        border: none;
        width: 80vw;
        height: 10rem;
        max-height: 10rem;
        background-color: var(--white);
        border-radius: .3rem;
        width: 15rem;

    }

    .btn {
        all: unset;
        background-color: var(--accent-light);
        color: var(--white);
        padding: 1rem 1rem;
        border-radius: var(--border-radius-big);
        font-weight: var(--font-weight-dark);
        transition: background-color 1s;
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: var(--accent-darkest);

        }

        &:active {
            background-color: var(--accent-darkest);
            translate: 0 1px;

        }

        &:focus-visible {
            background-color: var(--accent-darkest);
            outline: solid .15em currentcolor;
            outline-offset: -.3em;
        }
    }

    .round {
        padding: 2vw;
        border-radius: var(--border-radius-round);
        line-height: 1;
    }

    .capture {
        padding: 3rem 3rem;

        svg {
            width: 3rem;
            height: auto;
        }
    }

    .slide-box {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .25rem;
        padding-block: .25em;

        input {
            cursor: inherit;
            appearance: none;
            margin: 0;
            width: 3em;
            aspect-ratio: 2/1;
            background-color: var(--secondary-bg-light);
            border-radius: 2.5rem;
            border: 1px solid var(--secondary-bg-neutral);
            transition: .3s;

            &::after {
                content: "";
                height: 100%;
                display: block;
                aspect-ratio: 1;
                border-radius: inherit;
                transition: .3s;
                background-color: var(--primary-bg-lightest);
                border: 1px solid var(--primary-bg-dark);
            }

            &:checked {
                background-color: var(--accent-light);
            }

            &:checked::after {
                translate: 100%;
                background-color: var(--primary-bg-lightest);
            }
        }
    }

    .date-time {
        display: flex;
        flex-direction: column;

        input {
            border: none;
            height: 2rem;
            max-width: 10rem;
            background-color: var(--white);
            border-radius: .3rem;
            font-family: inherit;
        }
    }

    .password {
        input {
            appearance: none;
            border: 3px solid var(--white);
            width: 80vw;
            height: 2rem;
            max-height: 3rem;
            background-color: var(--white);
            border-radius: .3rem;
            width: 15rem;

            &:user-invalid {
                border: 3px solid var(--alert-light);
            }

            &:user-valid {
                border: 3px solid var(--accent-light);
            }
        }
    }
}